.screenplay {
	&__wrapper {
		display: flex;
		padding-bottom: 15px;
		margin-bottom: 15px;
		flex-direction: column;
		gap: 15px;
		border-bottom: 1px solid #a38bfd;
	}

	&__head {
		display: flex;
		justify-content: space-between;
	}

	&__title {
		display: flex;

		align-items: center;
		gap: 10px;

		&__headline {
			font-weight: 600;
			font-size: 16px;
			line-height: 19px;
			padding: 3px;
			display: block;
			cursor: pointer;

			&:hover {
				border-radius: 10px;
				background-color: #a086fe;
			}
		}
	}

	&__scenario {
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
	}

	&__buttons {
		display: flex;
		gap: 10px;
		flex-direction: column;

		&__button {
			background-color: #927cfc;
			color: #ffffff;
			border-radius: 5px;
			border: none;
		}
	}

	&__delete {
		background-color: #8e70fc;
		color: #bba9fd;
		border-radius: 5px;
		border: none;
	}
}
